.accountFormCls {
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 5%;
}

.crtBtnCls
{
	margin-left: 30%; 
}

.resetBtnCls
{
	margin-left: 4%;
}

.acctNameCls
{
	margin-bottom: 5%;
}

.firstClm
{
	margin-left: 10%;
}

.acctDescLbl
{
	margin-right: 14;
}